body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Banner */
.banner {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 2em;
    width: 100%;
    animation: slideDown 1s ease-in-out;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #7d7b7b;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 999px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5em;
}

.sidebar li {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar li:hover {
    background-color: #575757;
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
}

.sidebar img {
    padding-left: 10px;
}

ol {
    padding-left: 0;
    list-style: none;
}

#feedback {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
}

/* Main content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    max-width: 600px;
    line-height: 1.6;
}


/* Button Styles */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    width: 50%;
}

button:hover {
    background-color: #45a049;
}

/* Input styles */
.styled-input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    transition: all 0.3s ease;
}

.styled-input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

/* Animations */
@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}